:root {
  font-size: 16pt;
  --blue: #2d54d5;
  --red: #d4382c;
  --lightred: hsl(4 66% 85% / 1);
  --lightredactive: hsl(4 66% 75% / 1);
  --lightblue: hsl(226 67% 85% / 1);
  --green: hsl(152 62% 32% / 1);
}

* {
  font-family: Poppins;
  transition: 0.2s ease all;
  font-size: 0px;
}

body {
  margin: 0px;
  font-size: 0px;
}

html {
  display: standalone;
  display:fullscreen;  
}

react-container {
  position: fixed;
  display: standalone;
  display:fullscreen;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

  .chinese {
    font-family:"Noto Sans SC";
    font-weight: 800;
  }

.not-ready {
  position: absolute;
  top: 55%;
  z-index: 3;
  background-color: #000;
  color: white;
  padding: 1rem 2rem;
  border-radius: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space:nowrap;
  font-size: 2rem;
  pointer-events: none;
  opacity: 0;
  animation: 1s notready forwards;
}

@keyframes notready {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  25% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  75% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
}

.button {
  display: grid;
  place-items: center;
  height: 7rem;
  width: 7rem;
  background-color: var(--blue);
  border-radius: 100%;
}

  .button img {
    width: 60%;
    color: white;
  }

  .on.button {
    background-color: var(--green);
  }

  .reset > img {
    height: 4rem;
    pointer-events: all;
  }

.welcome-screen {
  background-color: var(--red);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  position: relative;


  
  .welcome-totem {
    display: grid;
  }
  
  .greeting {
    font-size: 5rem;
    letter-spacing: -0.03em;
    font-weight: 600;
    color: white;
    text-align: center;
    padding-bottom: 4rem;
    line-height: 1;
    animation: fadeDown 0.4s forwards;
  }

    @keyframes fadeDown {
      0% {
        opacity: 0;
        margin-top: -1rem;
      }
      100% {
        margin-top: 0rem;
        opacity: 1;
      }
    }

  .person {
    width: 70vw;
    margin: 0 auto;
    margin-bottom: -3rem;
  }
  
  .language-container::before {
    content: 'Select language';
    font-size: 2rem;
    color: white;
    font-weight: 600;
    position: absolute;
    top: -3.5rem;
  }
  
  .language-container {
    position: relative;
  }

    .language-label {
      font-size: 2rem;
      color: white;
      font-weight: 600;
    }
  
    .selected-language, .language {
      background-color: white;
      font-size: 2.75rem;
      width: 80vw;
      box-sizing:border-box;
      padding: 1.75rem 3rem;
      text-align: center;
      font-weight: 700;
    }

    .language-dropdown.open {
      opacity: 1;
      pointer-events: all;
    }
  
    .language:active { 
      background-color: var(--blue);
      color: white;
    }
  
      .selected-language {
        border-radius: 4rem;
        position: relative;
      }
  
    .language-dropdown {
      display: grid;
      position: absolute;
      top: 0;
      opacity: 0;
      pointer-events: none;
    }
  
    .language-dropdown > .language {
      border-bottom: 1px solid #ccc;
    } 
  
    .language-dropdown > .language:first-child {
      border-radius: 4rem 4rem 0 0;
    } 
    
    .language-dropdown > .language:last-child {
      border-radius: 0 0 4rem 4rem;
    }

  .confirm-language {
    height: 7rem;
    width: 7rem;
    background-color: white;
    display: grid;
    place-items: center;
    border-radius: 100%;
    margin-left: auto;
    margin-top: 3rem;
  }

  .confirm-language:active {
    background-color: var(--blue);
  }

  .confirm-language:active img {
    
  }
  
    .confirm-language img {
      height: 4rem;
    }
}



.infoweb-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow-y: auto;

  .image-wrap {
    margin-top: calc(-100vh + 8rem);
  }
  
  .infoweb-underlay {
    width: 100%;
  }  
}
.relative {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
  background-color: #0000;
  pointer-events:none;
}

/* .infoweb-onboarding-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000b;
  backdrop-filter: blur(6px);
} */

  .top-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    position: fixed;
    z-index:4;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: 8rem;
    background-color: #000;
    align-items: center;
    gap: 0.5rem;
    
      .crumbs {
        height: 100%;
        font-size: 2rem;
        color: white;
        display: grid;
        grid-auto-flow: column;
        width: max-content;
        gap: 1rem;
        align-items: center;
        padding-left: 2rem;
      }

      .button-grid {
        display: grid;
        height: 8rem;
        background-color: white;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 100rem 0 0 100rem;
        box-sizing: border-box;
      }

      .button-grid > .on.button:nth-child(1) {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        font-size: 2rem;
        font-weight: 700;
        color: white;
        width: max-content;
        border-radius: 100rem;
        padding: 0 1.5rem;
        font-family: "Noto Sans Sc";
        gap: 1rem;
      }

        .button-grid > .button:nth-child(1) img {
          width: unset;
          height: 60%;
        }
    
      .button-grid > .on.button:nth-child(1) img {
          width: unset;
          height: 40%;
        }
    
      .button {
        border-radius: 100rem;
        height: 6rem;
        width: 6rem;
        pointer-events: all;
      }
  }

  .bottom-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 2rem 1rem;
    gap: 2rem;
    position: fixed;
    top: 70vh;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    z-index:5;
    pointer-events: all;
    height: 12rem;
  }

    .last-conversation {
      width: max-content;
      display: grid;
      align-items: center;
      text-align: center;
      font-size: 2rem;
      background-color: #000c;
      backdrop-filter: blur(4px);
      color: white;
      height: 5rem;
      border-radius: 100rem;
      margin-left: auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      grid-template-columns: max-content auto;
      padding: 0 2rem;
      gap: 1rem;
    }

      .last-conversation::after {
        content: 'X';
        width: 2rem;
        height: 5rem;
        display: grid;
        place-items: center;
        margin: auto;
      }

    .bottom-grid .button {
      height: 6rem;
      width: 6rem;
    }

      .bottom-grid .button::before {
        height: 8rem;
        width: 8rem;
        background-color: #000;
        content: '';
        z-index: -1;
        position: absolute;
        border-radius: 100rem 0 0 100rem;
      }

.audio-wrap {
  position: relative;
}

  .active-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
    pointer-events: none;
  }

  .play-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .play {
    position: absolute;
    font-size: 2rem;
    color: #000;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    border-radius: 100rem;
    z-index: 3;
    white-space: nowrap;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    align-items: center;
  }

  .play img {
    height: 4rem;
  }


.talk-container {
  height: 8rem;
  width: max-content;
  margin-left: auto;
  background-color: #fff;
  box-shadow: 0 1rem 1rem -0.75rem #0004;
  border-radius: 100rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  box-sizing:border-box;
  padding: 0 1.5rem;
  gap: 1rem
}
  .talk-container > img {
    height: 6rem;
    padding: 1rem;
    border: 5px solid var(--blue);
    box-sizing: border-box;
    border-radius: 100%;
  }
  .talk-container > img:active {
    height: 6rem;
    padding: 1rem;
    border: 5px solid var(--red);
    box-sizing: border-box;
    border-radius: 100%;
  }
.waves{
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: var(--blue);
  border-radius: 100rem;
}
  .waves img {
    height: 3rem
  }

  .filler {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
  }

.chat-screen {
  display: grid;
  width: 90%;
  left: 5%;
  box-shadow: 0 1.5rem 1rem -0.75rem #0007;
  outline: 6px solid #222;
  position: fixed;
  background-color: white;
  font-size: 1rem;
  color: #222;
  height: 40vh;
  bottom: 30vh;
  border-radius: 3rem;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  overflow-y: scroll;
}
  .chat-controls {
    position: sticky;
    top: 1rem;
    margin: 1rem;
    border-radius: 100rem;
    padding: 1rem 2rem; 
    background-color: #000;
    color: white;
    z-index: 2;
    box-shadow: 0 0.5rem 1rem -0.5rem #0007;
  }

  .chat-title {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.05em;

  }

  .chat-screen img {
    height: 3rem;
  }

    .chat-bubbles {
      display: grid;
      grid-auto-rows: max-content;
      gap: 3rem;
      padding: 1rem 2rem;
      padding-bottom: 4rem;
    }

    .chat-bubble {
      padding: 1.5rem;
      background-color: var(--lightred);
      border-radius: 3rem;
      width: max-content;
      max-width: 80vw;
      box-sizing:border-box;
      position: relative;
        .chat-text{
          font-size: 1rem;
          color:#222;
          letter-spacing: -0.03em;
        }
        .chat-text.chinese {
          font-size: 1.75rem;
        }
      }
    .chat-bubble:active {
      background-color: var(--lightredactive)
    }
    .chat-text::before {
      content:'';
      background-image:url('./Assets/audio-speaker-red.png');
      background-size: contain;
      height:1.5rem;
      width: 1.5rem;
      margin-right: 1rem;
      vertical-align: middle;
      display: inline-block;
    }  
    .chat-bubble .chat-time {
      bottom: -4rem;
    }
    .chat-time {
      font-size: 1.35rem;
      position: absolute;
      bottom: -2.5rem
    }
      .chat-link {
        font-size: 1.25rem;
        background-color: var(--red);
        color: white;
        letter-spacing: -0.03em;
        margin-left: auto;
        width: max-content;
        padding: 1rem;
        border-radius: 2rem;
        margin-top: 2rem;
        position: relative;
        z-index: 3;
      }

    .user-bubble {
      background-color: var(--lightblue);
      margin-left: auto;
      height: 5rem;
      width: 5rem;
      border-radius: 100%;
      display: grid;
      place-content: center;
      position: relative;
    }

      .user-bubble img {
        height: 2.5rem;
      }
