:root {
  font-size: 16px;
  --padding: 16px;
  --margin: 16px;
  --internalmargin: 8px;
  --internalpadding: 8px;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem; 
}

.app-interface {
  padding: var(--padding)
}
